<h1 class="mt-3 mb-3">{{ raceName }} - Score Card</h1>
<form>
    <h3>Racer Info</h3>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <label for="carNumber" class="mr-sm-2">Car Number</label>
            <input type="number" class="form-control" id="carNumber" name="carNumber" placeholder="21" [(ngModel)]="scoreCardService.scoreCard.car">
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="carNumber" class="mr-sm-2">Driver</label>
            <input type="text" class="form-control" id="driver" name="driver" placeholder="Lightning McQueen" [(ngModel)]="scoreCardService.scoreCard.driver">
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="carNumber" class="mr-sm-2">Navigator</label>
            <input type="text" class="form-control" id="navigator" name="navigator" placeholder="Tow Mater" [(ngModel)]="scoreCardService.scoreCard.navigator">
        </div>
    </div>

    <br>
    <app-score-block *ngFor="let card of checkpoints" [checkpoint]="card"></app-score-block>

	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="input-group mb-2 mb-sm-0">
				<label for="newCheckpointName" class="sr-only">New Checkpoint Name</label>
				<input type="text" id="newCheckpointName" name="newCheckpointName" class="form-control" placeholder="Checkpoint Name" #checkpointName>
				<button class="input-group-addon btn btn-primary" (click)="onAddCheckpoint(checkpointName)">Add Checkpoint</button>
			</div>
		</div>
	</div>
	<hr>
    <app-score-total [checkpoints]="checkpoints"></app-score-total>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
