<h1>Forgot Password</h1>
<p>Enter your email address and we will email you a link to reset your password.</p>
<form>
	<div class="row">
		<div class="col-md-4 col-sm-12 form-group">
			<label for="email" class="mr-sm-2">Email Address</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="speed@racer.com">
		</div>
		<div class="col-12 form-group">
			<button type="submit" class="btn btn-primary">Send Link</button>
			<button type="button" class="btn btn-secondary" routerLink="/">Cancel</button>
		</div>
	</div>
</form>
