<div class="row">
    <div class="col-12">
        <h3 class="float-left">{{ checkpoint.name }}</h3>
        <button class="btn btn-danger btn-sm float-left ml-3" (click)="onRemoveCheckpoint()">Remove</button>
    </div>
</div>
<div class="row">
    <div class="form-inline col-md-4">
        <div class="input-group mb-2 mr-sm-2">
            <label for="timeOut" class="input-group-addon">Out</label>
            <input type="text" class="form-control" id="timeOut" placeholder="HH:MM:SS" [(ngModel)]="checkpoint.timeOut" (change)="onUpdateTrueTime()">
        </div>
    </div>
    <div class="form-inline col-md-4">
        <div class="input-group mb-2 mr-sm-2">
            <label for="timeIn" class="input-group-addon">In</label>
            <input type="text" class="form-control" id="timeIn" placeholder="HH:MM:SS" [(ngModel)]="checkpoint.timeIn" (change)="onUpdateTrueTime()">
        </div>
    </div>
    <div class="form-inline col-md-4">
        <div class="input-group mb-2 mr-sm-2">
            <label for="timeActual" class="input-group-addon">Actual</label>
            <input type="text" class="form-control" id="timeActual" placeholder="HH:MM:SS" [(ngModel)]="checkpoint.timeActual" (change)="onUpdateErrorTime()">
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <label class="mr-sm-2">True Time: {{ checkpoint.getTrueTime() }}</label>
    </div>
    <div class="col-sm-4">
        <label class="mr-sm-2">Error: {{ checkpoint.getErrorTime() }}</label>
    </div>
    <div class="col-sm-4">
        <label class="mr-sm-2"><strong>Points: {{ checkpoint.points }}</strong></label>
    </div>
</div>
<div class="row">
    <div class="col-12">

    </div>
</div>
<hr>